---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Copyright from "../components/Copyright.astro";
---

<Layout>
    <Header />
    <p>Blog</p>
    <Footer />
    <Copyright />
</Layout>
