---
import Layout from "../layouts/Layout.astro";
import FormularioAltaChalets from "../components/FormularioAltaChalets.tsx";
import ListadoChalets from "../components/ListadoChalets.tsx";
---

<Layout>
    <div class="flex flex-col md:flex-row gap-4">
        <FormularioAltaChalets client:load />
        <ListadoChalets client:load />
    </div>
</Layout>
