<footer
    class="footer sm:footer-horizontal bg-neutral text-neutral-content justify-center items-center p-4"
>
    <aside class="grid-flow-col items-center">
        <p>
            Copyright &copy; 2025 &#124; Vagar Vacaciones &#124; Vagar
            Propiedades &#124; Todos los derechos reservados
        </p>
    </aside>
</footer>
