---
import vagarLogo from "../assets/logo-l-negras.png";
---

<div>
    <div class="flex items-center justify-center h-8 bg-sky-500/100">
        <p class="text-center">Seguinos en nuestras redes - Iconos RRSS</p>
    </div>

    <footer
        class="footer sm:footer-horizontal bg-base-200 text-base-content p-10"
    >
        <aside>
            <a href="https://vagar.com.ar/">
                <img src={vagarLogo.src} width="150" alt="Vagar Homepage" />
            </a>
        </aside>
        <nav>
            <h6 class="footer-title">Propiedades más buscadas</h6>
            <a class="link link-hover">Vista Alta</a>
            <a class="link link-hover">Rincón Del Arroyo</a>
            <a class="link link-hover">La Barranca</a>
            <a class="link link-hover">Calma</a>
        </nav>
        <nav>
            <h6 class="footer-title">Enlaces Útiles</h6>
            <a class="link link-hover" href="/Chalets">Chalets en alquiler</a>
            <a class="link link-hover" href="/MapaChalets">Mapa</a>
            <a class="link link-hover" href="/Disponibilidad">Disponibilidad</a>
            <a class="link link-hover" href="/Novedades">Novedades</a>
            <a class="link link-hover" href="/Blog">Blog</a>
        </nav>
        <nav>
            <h6 class="footer-title">Contacto</h6>
            <p>Chumamaya 2100, Merlo, Argentina</p>
            <p>
                <a href="mailto:reservas@vagar.com.ar">reservas@vagar.com.ar</a>
                <p>Tel: 02656 - 476500</p>
            </p>
        </nav>
    </footer>
</div>
