---
import BuscadorDisponibilidaHeader from "./BuscadorDisponibilidadHeader";
import NavBar from "./NavBar.astro";
const envLabel = import.meta.env.VITE_ENV_LABEL;
---

<header
    id="site-header"
    class="sticky top-0 z-50 transition-all duration-300 bg-white/20 backdrop-blur-md shadow-md py-2"
>
    <div>
        <!-- {envLabel && <span>Env: {envLabel}</span>} -->
        <NavBar />
    </div>

    <BuscadorDisponibilidaHeader />
</header>

<script is:raw>
    const header = document.getElementById("site-header");

    window.addEventListener("scroll", () => {
        const currentScroll = window.scrollY;

        if (currentScroll > 50) {
            // Reducir altura al hacer scroll
            header.classList.remove("py-2");
            header.classList.add("py-1");
        } else {
            // Restaurar altura cuando vuelve arriba
            header.classList.remove("py-1");
            header.classList.add("py-2");
        }
    });
</script>
